body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

/*Contenedor Flexbox*/
.flex-container{
	display: flex;
}

/*Menu*/
.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

/*Home*/

#home{
	height: 600px;
	margin-top: 70px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: whitesmoke;
}

.text-home{
	font-size: 2.4em;
}

.btn-home{
  background: #2ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services{
  background-color: #f17c72;
  text-align: center;
  color: #fff;
  padding: 70px;
}

#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

.img-proyecto img{
  max-width: 250px;
  width: 100%;
  margin: 20px;
}

#img-proyecto-fotos.flex-container{ /*Todo pegado para que sea service y tb flex-container*/
  flex-direction: row; /*Solo eje X*/ 
  justify-content: center;
}

.n-producto{
  text-align: center;
  font-size: 15px;
}

footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  justify-content: center;
	align-items: center;

  padding-top: 7px;
}